<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test flasku</title>
</head>
<body>
    
    <aside>
        <nav>
            <ul>
                <li> <a href="uvod"> Uvod </a></li>
                <li> <a href="/"> index </a></li>
                <li> <a href="presidential_form"> formulář </a></li>
                <li> <a href="database"> databáze </a></li>
                <li> <a href="book"> books </a></li>
                <li> <a href="woman"> women </a></li>
                <li> <a href="man"> men </a></li>
            </ul>
        </nav>
    </aside>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Footer</p>
    </footer>

</body>
</html>